html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(5, 0, 50);
    margin: 0px;
    padding: 0px;
}

img {
    border-radius: 50%;
    float: right;
    margin-right: 100px;
}

#word-cloud {
    margin-right: 100px;
}

#github {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 50px;
    display: inline-block;
}

#linkedin {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 50px;
    display: inline-block;
}

#mail {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 50px;
    display: inline-block;
}

#instagram {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 50px;
    display: inline-block;
}

.contact-links {
    text-align: center;
}

h2 {
    margin-left: 100px;
    color: rgb(89, 188, 130);
}

a {
    color: rgb(241, 199, 167);
    text-decoration: none;
    transition-duration: 0.5s;
}

a:after {
    color: rgb(117, 65, 25);
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: rgb(155, 86, 33);
}

.about {
    margin-left: 100px;
    font-size: 30px;
}

.pagetitle {
    font-size: 20px;
    font-style: bold;
    color: rgb(208, 67, 50);
}

.regulartext {
    color: rgb(211, 155, 190);
    margin-left: 120px;
    margin-right: 10px;
}

.stupid {
    padding-left: -500px;
}
.germinate {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    padding: 5px 5px 5px 5px;
    border-radius:10px;
    border-color:rgb(241, 199, 167);
    height: auto;
    max-height: 40px; 
    width: 450px; 
    margin: 5px 1% 5px 1%; 
    float:left; 
    position: relative;  
    text-align: center;
    transition: max-height 1.5s ease-in-out;
}

.germinate > p {
    text-align: center;
}

.germinate:hover {
    width: 450px;
    max-height: 10000px;
    text-align: center;
}

#math {
    width: 350px;
    margin-left: 0px;
}

#band {
    width: 350px;
    margin-left: 0px;
}

#library {
    width: 350px;
    margin-right: 0px;
}

#flute {
    width: 350px;
    margin-right: 0px;
}

.pagetitle h1 {
    width: auto;
    margin: auto;
    padding-left: 100px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(246, 111, 27); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    animation: 
      typing 4.0s forwards,
      blink-caret .75s step-end infinite;
      display: inline-block;
}
@keyframes typing {
    from {max-width: 0}
    to {max-width: 100%}
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(246, 111, 27) }
}
.button-menu ul {
    align-self: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    /* background-color: black; */
  }
  
  .button-menu li {
    float: right;
    /* border-right: 1px solid #bbb; */
  }
  
  .button-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .button-menu li a:hover {
    background-color: rgb(40, 40, 41);
    color: rgb(241, 199, 167);
    transition-duration: 0.4s;
  }