html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(167, 172, 217);
    margin: 0px;
    padding: 0px;
}

img {
    border-radius: 50%;
    align-items: center;
    align-self: center;
    /* margin-left: 500px; */
}

h2 {
    /* margin-left: 100px; */
    color: rgb(54, 171, 206);
}

a {
    color: rgb(156, 252, 151);
    text-decoration: none;
    transition-duration: 0.5s;
}

a::after {
    color: rgb(89, 188, 130);
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: rgb(89, 188, 130);
}

.about {
    /* margin-left: 100px; */
    text-align: center;
    font-size: 30px;
}

.pagetitle {
    font-size: 20px;
    font-style: bold;
    color: rgb(255, 196, 155);
}

.regulartext {
    color: rgb(27, 38, 79);
    font-size: 18px;
    /* margin-left: 120px; */
    /* margin-right: 10px; */
}