html {
    font-family:"Century Gothic", fantasy;
}

body {
    background-color: rgb(167, 172, 217);
    background-image: url("images/backgroundspin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}

img {
    border-radius: 50%;
    align-items: center;
    align-self: center;
    margin-top: 30px;
    /* margin-left: 500px; */
}

id {
    visibility: hidden;
}

/* overrides for specific images */
#word-cloud {
    border-radius: 0%;
    right: 1.5%;
    margin-left: 100px;
}

#github {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 50px;
    display: inline-block;
}

#linkedin {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 50px;
    display: inline-block;
}

#mail {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 50px;
    display: inline-block;
}

#instagram {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 50px;
    display: inline-block;
}

.contact-links {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 35px;
    align-items: center;
    top: 40%;
    /* bottom: 100%; */
}

#high {
    top: 43%;
}

h2 {
    /* margin-left: 100px; */
    font-family: Charmonman;
    /* font-size: 35px; */
    width: 94vw;
    color: rgb(54, 171, 206);
}

a {
    color: rgb(58, 64, 90);
    text-decoration: underline;
    transition-duration: 0.3s;
}

a::after {
    color: rgb(58, 64, 90);
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: rgb(167, 172, 217);
}

.about {
    /* margin-left: 100px; */
    /* text-align: center; */
    font-size: 30px;
    width: 85vw;
    margin-left: auto;
	margin-right: 1.4%;
	overflow: hidden;
	overflow-y: auto;
}

.pagetitle {
    font-family: "Charmonman", fantasy;
    font-style: bold;
    font-size: 20px;
    margin-left: 150px;
    font-weight: bold;
    color: rgb(58, 64, 90);
}

#name {
    position: absolute;
    /* display: flex; */
    text-align: center;
    float: right;
    right: 15%;
    top: 10%;
    font-size: 50px;
    /* height: 10vh; */
    /* width: 50vh; */
    /* margin-right: 30px; */
}

.page-wrapper {
    width: 85vw;
    margin-left: auto;
	margin-right: 1.4%;
	overflow: hidden;
	overflow-y: auto;
}

.regulartext {
    color: rgb(42, 46, 62);
    font-size: 18px;
    font-style: bold;
	/* height: 100vh; */
    /* margin-left: 120px; */
    /* margin-right: 10px; */
}

.button-menu {
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    top: 5%;
    /* gap: 35px; */
    list-style-type: none;
    overflow: hidden;
    border: none;
}

.button-menu ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.button-menu li {
    font-family: Charmonman;
    font-size: 20px;
    font-weight: bold;
    padding-left: 0px;
    /* padding-top: 35px; */
    text-decoration: none;
}

.button-menu li a {
    display: block;
    color: rgb(58, 64, 90);
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
.button-menu li a:hover {
    background-color: rgb(58, 64, 90);
    color: rgb(167, 172, 217);
    transition-duration: 0.4s;
}

#long {
    top: 0%;
}

.simple-toggle {
    position: fixed;
    z-index: 2;
    right: 2%;
    bottom: 4%;
    text-decoration-color: rgb(241, 199, 167);
    font-family: "Charmonman", fantasy;
    font-size: 20px;
    color: rgb(58, 64, 90);
    background-color: rgba(253, 241, 254, 0);
    padding: 8px;
    border: 4px rgb(5, 0, 50);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.simple-toggle:hover {
    background-color: rgb(58, 64, 90);
    color: rgb(167, 172, 217);
    font-style: bold;
}

/* #visi {
    background-color: #ffecff;
} */

/* .carousel {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
  }
  
  .slides {
    display: flex;
  }
  
  .slides-item {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    font-size: 100px;
    height: 200px;
    justify-content: center;
    margin: 0 1rem;
    position: relative;
    transform: scale(1);
    transform-origin: center center;
    transition: transform .5s;
    width: 30%;
  }
  
  .carousel__nav {
    padding: 1.25rem .5rem;
  }
  
  .slider-nav {
    align-items: center;
    background-color: #ddd;
    border-radius: 50%;
    color: #000;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    padding: .5rem;
    position: relative;
    text-decoration: none;
    width: 1.5rem;
  }
  
  .slider-nav:hover,
  .slider-nav:active {
    background-color: #000;
    color: #fff;
  }
  
  .slide-1 {
    background-color: #fdc;
  }
  
  .slide-2 {
    background-color: #bfd;
  }
  
  .slide-3 {
    background-color: #cdf;
  } */